stages:
  - test
  - deploy

services:
  - docker:dind

lint:
  image: python:3.7
  stage: test
  script:
    - python setup.py test

test:
  image: sdhcontainerregistryshared.azurecr.io/runway-azure-base:SNAPSHOT
  stage: test
  script:
    - python setup.py test

lint_yaml:
  image: giantswarm/yamllint:latest
  stage: test
  script:
    - yamllint -d relaxed .

runway:
  image: docker:latest
  stage: deploy
  variables:
    DOCKER_HOST: tcp://localhost:2375
  before_script:
    - unset CI_COMMIT_DESCRIPTION CI_COMMIT_MESSAGE # hack to avoid multiline env variables that docker does not like
    - env | grep -v ^PATH > .env
    - docker login --username ${REGISTRY_USERNAME} --password ${REGISTRY_PASSWORD} ${REGISTRY_LOGIN_SERVER}
  script:
    - docker build -t runway:latest -f Dockerfile .

    - version=$(docker run --env-file .env -v `echo $PWD`:/src runway:latest get_version)
    - docker tag runway:latest ${REGISTRY_LOGIN_SERVER}/runway:${version}
    - docker push ${REGISTRY_LOGIN_SERVER}/runway:${version}
