runway_azure:
  resource_group: "sdh{dtap}"
  location: "west europe"
  vault_name: "https://sdhkeyvault{dtap}.vault.azure.net/"
  subscription_id: ""

azure_keyvault_keys:
  azure_active_directory_user:
    username: "common-azure-username"
    password: "common-azure-password"
  azure_databricks:
    host: "common-azure-databricks-host"
    token: "common-azure-databricks-token"
  azure_container_registry:
    username: "common-registry-username"
    password: "common-registry-password"
    registry: "common-shared-registry"
  azure_storage_account:
    account_name: "common-azure-shared-blob-username"
    account_key: "common-azure-shared-blob-password"
  azure_devops_artifact_store:
    repository_url: "common-artifact-store-upload-url"
    username: "common-artifact-store-username"
    password: "common-artifact-store-password"

devops_environment_keys_dev:
  azure_service_principle:
    tenant: "AZURE_TENANTID"
    client_id: "AZURE_KEYVAULT_SP_USERNAME_DEV"
    secret: "AZURE_KEYVAULT_SP_PASSWORD_DEV"

devops_environment_keys_acp:
  azure_service_principle:
    tenant: "AZURE_TENANTID"
    client_id: "AZURE_KEYVAULT_SP_USERNAME_ACP"
    secret: "AZURE_KEYVAULT_SP_PASSWORD_ACP"

devops_environment_keys_prd:
  azure_service_principle:
    tenant: "AZURE_TENANTID"
    client_id: "AZURE_KEYVAULT_SP_USERNAME_PRD"
    secret: "AZURE_KEYVAULT_SP_PASSWORD_PRD"

runway_common_keys:
  shared_registry: sdhcontainerregistryshared.azurecr.io
  k8s_name: sdhkubernetes{dtap}
  k8s_vnet_name: sdh-kubernetes
  artifacts_shared_blob_container_name: libraries
  eventhub_namespace: sdheventhub{dtap}
  databricks_library_path: "dbfs:/mnt/libraries"
