runway_azure:
  resource_group: sdh{dtap}
  location: west europe

runway_azure_keyvault_dtap_keys:
- azure_username
- azure_password
- azure_databricks_host
- azure_databricks_token

runway_azure_keyvault_shared_keys:
- subscription_id
- azure_shared_blob_username
- azure_shared_blob_password
- artifact_store_username
- artifact_store_password
- artifact_store_index_url
- registry_username
- registry_password

runway_common_keys:
  shared_registry: sdhcontainerregistryshared.azurecr.io
  k8s_name: sdhkubernetes{dtap}
  k8s_vnet_name: sdh-kubernetes
  artifacts_shared_blob_container_name: libraries
  eventhub_namespace: sdheventhub{dtap}
  databricks_library_path = "dbfs:/mnt/libraries"
