apiVersion: v1
kind: Service
metadata:
  name: {{application_name}}-service
  namespace: {{namespace}}
spec:
  ports:
  - port: 8433
    protocol: TCP
    targetPort: 8433
  selector:
    app: {{application_name}}
  type: LoadBalancer
  loadBalancerIP: {{service_ip}}
