apiVersion: v1
kind: Service
metadata:
  name: my_app_name-service
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: my_app_name
  type: LoadBalancer
  loadBalancerIP: {{service_ip}}
