kind: Namespace
apiVersion: v1
metadata:
  name: {{namespace}}
---
kind: Secret
apiVersion: v1
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{pull_secret}}
metadata:
  name: {{secret_name}}
  namespace: {{namespace}}
