{
  "new_cluster": {
    "spark_version": "4.1.x-scala2.11",
    "spark_conf": {
      "spark.sql.warehouse.dir": "/some_",
      "some.setting": "true"
    },
    "cluster_log_conf": {
      "dbfs": {
        "destination": "dbfs:/mnt/sdh/logs/{{ log_destination }}"
      }
    }
  },
  "some_int": 5,
  "name": "{{ application_name }}",
  "libraries": [
    { "whl": "{{ whl_file }}" },
    { "jar": "some.jar" }
  ],
  "spark_python_task": {
    "python_file": "{{ python_file }}",
    "parameters": [{% for p in parameters %}"{{ p }}"{% if not loop.last %},{% endif %}{% endfor %}]
  },
  "schedule": {
    "quartz_cron_expression": "0 15 22 ? * *",
    "timezone_id": "America/Los_Angeles"
  }
}
