apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: my-image:{{ docker_tag }}
          imagePullPolicy: {{ secret_pull_policy }}
          ports:
            - containerPort: 8080
      imagePullSecrets:
        - name: acr-auth
